# Generación de la relación entre amenidades y hospedajes

In [24]:
import pandas as pd
import random

random.seed(42)
df_hoteles = pd.read_csv('../merging-hospedajes/hoteles.csv')
df_amenidades = pd.read_csv('amenidades.csv')

In [25]:
# Amenidades
lista_amenidades = [
    'Wifi gratuito',
    'Aire acondicionado',
    'Calefacción',
    'Piscina',
    'Gimnasio',
    'Estacionamiento',
    'Desayuno incluido',
    'Restaurante / Bar',
    'Servicio de habitaciones',
    'Televisión por cable / satélite',
    'Cafetera en la habitación',
    'Caja fuerte',
    'Secador de cabello',
    'Amenidades de baño',
    'Limpieza diaria de habitación',
    'Toallas y sábanas de alta calidad',
    'Servicio de lavandería',
    'Centro de negocios / Espacios de trabajo',
    'Spa o servicio de masajes',
    'Salón de eventos o salas de reuniones',
    'Traslado al aeropuerto (Shuttle)',
    'Jacuzzi',
    'Bicicletas disponibles',
    'Barbacoa o zona de parrillas',
    'Acceso para personas con movilidad reducida',
    'Admisión de mascotas',
    'Chimenea en la habitación',
    'Terraza o balcón privado',
    'Sistema de sonido',
    'Minibar',
    'Alquiler de coches o transporte',
    'Acceso a actividades recreativas',
    'Tienda o boutique',
    'Cuna o cama extra disponible bajo solicitud',
    'Estación de carga para dispositivos electrónicos',
    'Servicios de conserjería',
    'Cine o zona de entretenimiento',
    'Acceso a deportes',
    'Wifi en áreas comunes',
    'Cafetería',
]

In [26]:
relaciones = list()

def asociar_amenidad(hotel, hotel_idx, amenidad):
    relacion = dict()
    relacion['hospedaje_id'] = hotel_idx + 1
    relacion['amenidad_id'] = amenidad.id

    relaciones.append(relacion)

def asociar_amenidades():
    for hotel_idx, hotel in df_hoteles.iterrows():
        amenidades_a_asociar = df_amenidades.loc[random.sample(range(len(df_amenidades)), random.randint(3, 8))]
        for _, amenidad in amenidades_a_asociar.iterrows():
            asociar_amenidad(hotel, hotel_idx, amenidad)

asociar_amenidades()

In [27]:
df_relacion_amenidad_hospedaje = pd.DataFrame(relaciones)
df_relacion_amenidad_hospedaje

        hospedaje_id  amenidad_id
0                  1            8
1                  1            2
2                  1           18
3                  1           16
4                  1           15
...              ...          ...
126313         22928           40
126314         22928           10
126315         22928           24
126316         22928           12
126317         22928           39

[126318 rows x 2 columns]

In [28]:
df_relacion_amenidad_hospedaje.to_csv('./relacion_amenidad_hospedaje.csv')